body {
  line-height: 1.6;
  width: auto;
  height: auto;
}

header {
  width: 100%;
  height: 89px;
  background-color: #f1f1f1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header img {
  width: 144.78px;
  height: 27px;
  margin-left: 65px;
}

header nav {
  width: 888px;
  height: 33px;
  margin-right: 69px;
}

header nav ul {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header nav ul li a {
  height: 33px;
  width: 81px;
  padding: 4px 16px 5px 16px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 30px;
  text-align: center;
  text-decoration: none;
  color: #222222;
  border-radius: 9px;
}

header nav ul li:hover {
  background-color: #222222;
  color: #ffffff;
  border-radius: 9px;
}

header nav ul li a:hover {
  color: #ffffff;
}

main {
  margin: auto;
  background-color: #ffffff;
  display: flex;
}

.section1 {
  width: auto;
  height: auto;
  margin: 100px 40px 80px 40px;
  background-color: #ffffff;
}

.section2 {
  width: auto;
  height: auto;
  margin: 100px 40px 80px 40px;
  background-color: #ffffff;
}

h2 {
  width: 286px;
  height: 16px;
  margin-top: 0px;
  margin-left: 100px;
  padding: 15px 17px 15px 21px;
  font-family: "Poppins", serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  text-align: center;
  background-color: #f1f1f1;
  color: #222222;
  border-radius: 23px;
}

h1 {
  width: 578px;
  height: 218px;
  margin-top: 40px;
  margin-left: 100px;
  font-family: "Satoshi", sans-serif;
  font-size: 90px;
  font-weight: 900;
  line-height: 87px;
  color: #222222;
  letter-spacing: -1px;
}

.security {
  width: 578px;
  height: 117px;
  font-family: "Satoshi", sans-serif;
  font-size: 90px;
  font-weight: 900;
  line-height: 116px;
  padding: 0px 0px 7px 23px;
  background-color: #ffff00;
  border-radius: 418px;
  color: #222222;
  letter-spacing: -1px;
  display: inline-block;
  margin-top: 15px;
}

p {
  width: 478px;
  height: 64px;
  margin-top: 40px;
  margin-left: 135px;
  font-family: "Satoshi", sans-serif;
  font-size: 30px;
  font-weight: 500;
  line-height: 32px;
  color: #676767;
  letter-spacing: -1px;
}

.imgCandado {
  width: 501.55px;
  height: 590px;
  margin: auto;
  display: flex;
  justify-content: center;
}
